[package]
name = "rocket_z_macros"
version = "1.0.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
rocket_z_core = { path = "../rocket_z_core" }